<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">

        <!-- Main Activity: Set QuestionAnswerActivity as the launcher activity -->
        <activity
            android:name=".QuestionAnswerActivity"
            android:exported="true"> <!-- Make sure to set exported to true for Android 12 and above -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities: Define them without intent-filters unless they are entry points from other apps or components -->
        <activity
            android:name=".SymptomChecker"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Set exported to false as it's not a direct entry point from outside -->

    </application>

</manifest>
